<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Haven Geek</title>
    <link rel="stylesheet" th:href="@{/css/cadastro.css}">
</head>

<body>
<h1>Digite os dados necessários</h1>

<form th:action="@{/novo-cliente}" method="post">
    <p>
        <label for="username">Nome de usuário: </label>
        <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário" required>
    </p>
    
    <p>
        <label for="password">Senha: </label>
        <input type="password" name="password" id="password" placeholder="Digite uma senha" required>
    </p>
    
    <h2>
        A senha deve ter:
    </h2>
    	
    <h5>
    	No minimo 3 caracteres.
    </h5>
    	
    <h5>
    	Letra maiúscula.
     </h5>
    	
    <h5>
    	Letra minúscula.
     </h5>
    	
    <h5>
        No minimo um número.
    </h5>
    
    <p>
        <label for="password">Confime sua senha: </label>
        <input type="password" name="password" id="password" placeholder="Digite a senha novamente" required>
    </p>
    
    <p>
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome completo" required>
    </p>

    <p>
        <label for="email">E-mail: </label>
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
    </p>

    <p>
        <label for="cep">CEP: </label>
        <input type="text" name="cep" id="cep" placeholder="Digite seu CEP sem o - (hifen)">
    </p>

    <p>
        <label for="logradouro">Endereço: </label>
        <input type="text" name="logradouro" id="logradouro" placeholder="Digite seu endereço">
    </p>

    <p>
        <label for="bairro">Bairro: </label>
        <input type="text" name="bairro" id="bairro" placeholder="Digite o seu bairro">
    </p>

    <p>
        <label for="cidade">Cidade: </label>
        <input type="text" name="cidade" id="cidade" placeholder="Digite a sua cidade">
    </p>

    <p>
        <label for="estado">Estado: </label>
        <input type="text" name="estado" id="estado" placeholder="Digite o seu estado">
    </p>

    <button type="submit">Cadastrar</button>
</form>
</body>
</html>
