<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Haven Geek</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">

</head>
<body>
	<h1>Bem vindo ao Haven Geek</h1>


	<div class="flash" th:if="${msg}">
		<span th:text="${msg}"></span>
	</div>

	<form action="login" method="post">
		<p class="error" th:text="${auth_error}" th:if="${auth_error}"></p>
		
		<p>
			<label for="username">Usuário: </label>
			<input type="text" name="username" id="username" placeholder="Digite seu nome de usuário" required>
		</p>
		
		<p>
			<label for="password">Senha: </label>
			<input type="password" name="password" id="password" placeholder="Digite sua senha"  required>
		</p>
		

		<button type="submit">Entrar</button>
	</form>
	
	<p>
		Novo cliente? <a th:href="@{/novo-cliente}">Cadastre-se</a>.
	</form>
	
	
</body>
</html>