@charset "UTF-8";


.flash {
	margin-top: 1rem;
	margin-bottom: 1rem;	
}

.flash > span {
	font-size: 0.8rem;
	background-color: lightyellow;
	padding: 0.5rem;
} 

th, td {
	border: solid 1px #7b7b7b;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

table {
	border-collapse: collapse;
}

.monetario {
	text-align: right;
}

.operacao {
	font-size: 0.7rem;
}

.error {
	color: crimson;
	font-size: 0.7rem;
}
