<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Haven Geek</title>
    <link rel="stylesheet" th:href="@{/css/produto.css}">
    <script th:src="@{/js/carrinho.js}"></script>
</head>
<body>
    <h1>Jogos</h1>

    <div class="flash" th:if="${msg}">
        <span th:text="${msg}"></span>
    </div>

    <p>
        <a th:href="@{/carrinho/visualizar}" class="button">Carrinho</a>
        <a th:href="@{/home}" class="button">Início</a> <!-- Botão "Início" estilizado -->
        <span th:if="${session.carrinho.vazio}"></span>
    </p>

    <div class="product-grid">
        <div class="product-item" th:each="produto : ${produtos}">
            <img 
                th:src="@{/imagens/{id}.jpg(id=${produto.id})}" 
                th:alt="${produto.nome}" 
                th:title="${produto.nome}" 
                width="100" 
                height="100"
            >
            <h2 th:text="${produto.nome}">Jogo (teste)</h2>
            <p th:text="${produto.tipoMidia}">Física (teste)</p>
            <p th:text="${produto.categoria}">Luta (teste)</p>
            <p th:text="${produto.plataforma}">Console (teste)</p>
            <p th:text="${#numbers.formatCurrency(produto.preco)}" class="monetario">0.00</p>
            <a href="#" th:onClick="adicionarCarrinho([[${produto.id}]]);" class="button">Adicionar ao carrinho</a>
        </div>
    </div>

</body>
</html>
