<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Haven Geek </title>
    <link rel="stylesheet" th:href="@{/css/cartao.css}">
</head>

<body>
<h1>Digite os dados do seu cartão</h1>

<form th:action="@{/novo-cartao}" method="post">
    <p>
        <label for="nome">Nome do Titular: </label>
        <input type="text" name="nome" id="nome" placeholder="Digite o nome do titular" required>
    </p>
    
    <p>
        <label for="numero">Número do Cartão: </label>
        <input type="text" name="numero" id="numero" placeholder="Digite o número do cartão" required>
    </p>
    
    <p>
        <label for="cvv">CVV: </label>
        <input type="text" name="cvv" id="cvv" placeholder="Digite o CVV" maxlength="3" required>
    </p>

    <p>
        <label for="data_vencimento">Data de Vencimento: </label>
        <input type="text" name="data_vencimento" id="data_vencimento" placeholder="MM/AA" maxlength="5" required>
    </p>

	<button type="submit">Cadastrar</button>
    
</form>
</body>
</html>
