<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Haven Geek</title>
    <link rel="stylesheet" th:href="@{/css/finalizar.css}">
</head>
<body>
    <h1>Finalizando Compra</h1>
    
    <div class="actions">
        <a th:href="@{/home}" class="button">Início</a>
        <a th:href="@{/carrinho/visualizar}" class="button">Visualizar carrinho</a>
    </div>
    
    <div class="info">
        <p>
            Valor total: <span th:text="${#numbers.formatCurrency(session.carrinho.total)}"></span>
        </p>
        <p>
            Comprando <span th:text="${session.carrinho.count}"></span> itens
        </p>
    </div>
    
    <!-- Formulário para escolha de pagamento -->
    <div class="payment-form">
        <form th:action="@{/compra-confirmada}" method="post">
            <h2>Escolha o método de pagamento</h2>
            <div class="payment-options">
                <label>
                    <input type="radio" name="payment" value="pix"> Pix
                </label>
                <label>
                    <input type="radio" name="payment" value="cartao_credito"> Cartão Crédito
                </label>
                <label>
                    <input type="radio" name="payment" value="cartao_debito"> Cartão Débito
                </label>
            </div>
            
            <a th:href="@{/fim}" class="button">Finalizar compra</a>
        </form>
    </div>
    
</body>
</html>
